@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto:ital,wght@0,900;1,100&display=swap');




/* -- default my tags*/
body, div, header, aside, footer {
    margin: 0px;
    padding: 0px;
}

#home-img {
    width: 95%;
    height: 400px;
    padding: 25px;
    
}

body {
    background-color: black;
}

#wrapper {
    margin: auto;
    background-color: white;
    width: 940px;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: white;
    width: auto;
    height: 120px;
    justify-items: center;
}

nav {
    display: -webkit-inline-flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: bottom;
    align-self: center;
}


/* -----applying center alignment to the underlisted selectors */
nav a, .button-box {
    text-align: center;
}


.home, .focus, .view {
    color: white;
    background-color: #5125ad;
    text-decoration: none;
    font-size: 30px;
    padding: 15px 70px;
    margin-top: 50px;
    border-radius: 25px;
}

#borderBox {
        margin: auto;
        padding: 5px;
        color: black;
        margin-top: 220px;
        font-size: 30px;
        width: 400px;
        text-align: center;
        margin-top: 1px;
}

#contentContainer {
    margin-top: 5px;
    margin-bottom: 10px;
    /*background-color: brown;*/
    background-color: #fef8a0;
    padding: 10px;
    overflow: hidden;
    text-align: justify;
    font-family: "Noto+Serif", "Roboto", Arial, sans-serif;

}

footer {
    background-color: aquamarine;
    height: 100px;
    font-size: 18px;
}

.button-box {
    text-align: center;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* nav background hover color is added */
nav a:hover, footer a:hover {
    background-color: #04b5fa8f;
    color: rgb(246, 5, 238);
}


#articleContainer {
    background-color: #04f3f3;
    width: 19%;
    height: 600px;
    float: left;
}

aside {
    background-color: #fef8a0;
    width: 79%;
    height: 600px;
    float: right;
}

body {
    background-color:#396E94;
    color: black;
    font-family: "Noto+Serif", "Roboto", Arial, sans-serif;
    font-size: 26px;
    margin: 0;
    padding: 0;
}    

footer {
    background-color: #cbffff00;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Centered section inside the top navigation */
    